{% extends 'baseBackthe.html.twig' %}
{% block notif %}
    <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <!-- Counter - Alerts -->
            {% if entity >0%}
                <span class="badge badge-danger badge-counter"> {{  entity }}+</span>
            {% endif %}
        </a>
        <!-- Dropdown - Alerts -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">
                Notifications
            </h6>
            <a class="dropdown-item d-flex align-items-center" href="{{ path('res_show') }}">
                <div class="mr-3">
                    <div class="icon-circle bg-primary">
                        <i class="fas fa-file-alt text-white"></i>
                    </div>
                </div>
                <div>
                    <span class="font-weight-bold">Vous avez {{ entity }} reservation en attente de confirmation</span>
                </div>
            </a>


            <a class="dropdown-item text-center small text-gray-500" href="#">Afficher tous les notifications</a>
        </div>
    </li>
{% endblock %}
{% block title %}Consultation index{% endblock %}

{% block container %}

    <h1>Etat des reservations</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Reservations</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="107%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nom et prenom</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>heure debut</th>
                        <th>heure fin</th>
                        <th>Raison</th>

                        <th>etat</th>

                        <th>Image</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for reservations in reservations %}

                        <tr>
                            <td> {% for users in users %}
                                    {% if users.id==reservations.idclient %}
                                        {{ users.nom }} {{ users.prenom }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ reservations.getDate() ? reservations.date|date('Y-m-d') : '' }}</td>
                            <td>{{ reservations.type() }}</td>

                            <td>{{ (reservations.getHeure()|trim('00', 'right'))|trim(':','right') }}</td>
                            <td>{{ (reservations.getHeurefin()|trim('00', 'right'))|trim(':','right') }}</td>
                            <th>{{ reservations.message() }}</th>
                            {% if ( reservations.getDate() >  date('-1day')) %}

                                {% if reservations.getEtat() == "En attente de confirmation" %}
                                    <td style="color:#ff8d00" >  {{ reservations.getEtat() }}</td>
                                {% elseif reservations.getEtat() == "Confirmé" %}

                                    <td style="color:#00ff3e" >  {{ reservations.getEtat() }}</td>
                                {% endif %}
                            {% elseif reservations.getEtat() == "En attente de confirmation" %}
                                <td style="color:#ff8d00" >  Expiré </td>
                            {% elseif reservations.getEtat() == "Confirmé" %}
                                <td style="color:#00ff3e" >  Effectué </td>

                            {% endif %}
                            <td>     <img src="{{ asset('uploads/images/' ~ reservations.getImage()) }}"
                                          alt = "" style = "width: 120px ; height:120px"></td>>
                            <td>
                                {% if ( reservations.getDate() >  date('-1day')) %}

                                    {% if reservations.getEtat() == "En attente de confirmation" %}
                                        {{ include('reservation/Confirmer.html.twig') }}
                                    {% elseif reservations.getEtat() == "Confirmé" %}

                                        {{ include('reservation/enattente.html.twig') }}
                                    {% endif %}
                                {% endif %}


                                {{ include('reservation/_delete_form.html.twig') }}

                                {# <a href="{{ path('consultation_show', {'id': consultation.getId()}) }}">show</a> #}


                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}
