{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idreservation</th>
                <td>{{ reservation.getIdreservation() }}</td>
            </tr>
            <tr>
                <th>Idconsultation</th>
                <td>{{ reservation.getIdconsultation() }}</td>
            </tr>
            <tr>
                <th>Idclient</th>
                <td>{{ reservation.getIdclient() }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reservation.getDate() ? reservation.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ reservation.getType() }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ reservation.getHeure() }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ reservation.getEtat() }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ reservation.getImage() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservation_index') }}">back to list</a>

    <a href="{{ path('reservation_edit', {'idreservation': reservation.getIdreservation()}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
