{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idreservation</th>
                <td>{{ reservation.idreservation }}</td>
            </tr>
            <tr>
                <th>Idconsultation</th>
                <td>{{ reservation.idconsultation }}</td>
            </tr>
            <tr>
                <th>Idclient</th>
                <td>{{ reservation.idclient }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reservation.date ? reservation.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ reservation.type }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ reservation.heure }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ reservation.etat }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ reservation.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservation_index') }}">back to list</a>

    <a href="{{ path('reservation_edit', {'idreservation': reservation.idreservation}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
