{% extends 'frontbase.html.twig' %}
{% block imageAccueil %}
    <section class="hero-wrap js-fullheight" style="background-image: url('{{ asset('Front/images/bg_yoga2.jpg') }}');" data-section="home" data-stellar-background-ratio="0.5">

        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-6 pt-5 ftco-animate">
                    <div class="mt-5">
                        <h1 class="mb-4">Mes Réservations</h1>
                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{%  endblock %}
{% block body %}
    <section class="ftco-section bg-light" id="blog-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-10 heading-section text-center ftco-animate">
                    <h2 class="mb-4">Vos réservations aux événements en cours </h2>
                </div>
            </div>




            <div class="row d-flex">



                {% for reservation in reservations %}
                    <div class="col-md-4 ftco-animate">
                        <div class="blog-entry">
                            <a  class="block-20" >

                                <img src="{{ asset('imgEvent/')~ reservation.imageEvent }}"  >
                            </a>
                            <div class="meta mb-3">

                                <h3 class="heading-section"><a  style="font-size:25px;text-transform: uppercase;text-align: center;">{{ reservation.titreEvent }}</a></h3>

                                <div> <a  style="color:black;font-size:15px">Nombre de place réservé : <a style="font-size:15px">{{ reservation.nbPlace }}</a></a>
                                </div>
                                <div><a  style="color:black;font-size:15px">Date de l'évenement': </a> <a style="font-size:15px">{{ reservation.dateEvent ? reservation.dateEvent|date('d-m-Y') : ''}} </a></div>

                                <div><a  style="color:black;font-size:15px">Etat de la réservation: </a> <a style="font-size:15px">{{ reservation.etat }} </a></div>
                                <p><a  onclick="confirmer()" href="{{ path('reservation_deleteEvent', {'id': reservation.getId(),'idEvent':reservation.getIdEvent(),'nbPlace':reservation.getNbPlace(),'titreEvent':reservation.getTitreEvent()}) }}"  class="btn btn-danger py-4 px-5" style="font-size: 15px">Annuler la réservation</a></p>
                                <p>      <a   href="{{ path('reservation_event_edit', {'id': reservation.id,'idEvent':reservation.getIdEvent(),'nbPlace':reservation.getNbPlace(),'titreEvent':reservation.getTitreEvent()})  }}" class="btn btn-success py-4 px-5" style="font-size: 15px">Modifier la réservation</a>
                                </p>
                                <p>      <a   href="{{ path('factureReservation', {'id': reservation.id})  }}"  class="btn btn-dark py-4 px-5" style="font-size: 15px">Télecharger la facture</a>
                                </p>
                            </div>

                        </div>
                    </div>
                {% else %}
                    <p style="text-align: center">Désolé, aucun événement ne correspond à votre recherche</p>
                {% endfor %}


            </div>
            <div class="pagination">
                {{ knp_pagination_render(reservations) }}
            </div>
        </div>
        </div>
    </section>

    <script>
        function confirmer(){
            var res = confirm("Êtes-vous sûr de vouloir annuler cette réservation ?");
            if(res){
                // Mettez ici la logique de suppression
            }}

    </script>
{% endblock %}
