{% extends 'baseBack.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block container %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>IdOrganisateur</th>
                <td>{{ evenement.idOrganisateur }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ evenement.type }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ evenement.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ evenement.lieu }}</td>
            </tr>
            <tr>
                <th>DateEvent</th>
                <td>{{ evenement.dateEvent ? evenement.dateEvent|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ evenement.image }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ evenement.tarif }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ evenement.capacite }}</td>
            </tr>
            <tr>
                <th>NbReservation</th>
                <td>{{ evenement.nbReservation }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ evenement.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evenement_index') }}">Retour </a>


    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
