{% extends 'base.html.twig' %}

{% block title %}Payments{% endblock %}

{% block body %}
    <h1>Payments</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPayment</th>
                <td>{{ payment.getIdPayment() }}</td>
            </tr>
            <tr>
                <th>IdPanier</th>
                <td>{{ payment.getIdPanier() }}</td>
            </tr>
            <tr>
                <th>PrixF</th>
                <td>{{ payment.getPrixF() }}</td>
            </tr>
            <tr>
                <th>ModePayment</th>
                <td>{{ payment.getModePayment() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('payments_index') }}">back to list</a>

    <a href="{{ path('payments_edit', {'idPayment': payment.getIdPayment()}) }}">edit</a>

    {{ include('payments/_delete_form.html.twig') }}
{% endblock %}
