{% extends 'basebackthe.html.twig' %}

{% block title %}Reco index{% endblock %}

{% block container %}
    <h1>Gestion de recommandation</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Ecrivain</th>
                <th>Image</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reco in recos %}
            <tr>
                <td>{{ reco.getId }}</td>
                <td>{{ reco.getTitre }}</td>
                <td>{{ reco.getDescription }}</td>
                <td>{{ reco.getEcrivain }}</td>
                <td> <img width="275" height="350" src="{{ asset('images/')~ reco.image }}"  ></td>
                <td>{{ reco.getType }}</td>
                <td>
                    <a  class="btn btn-success btn-circle btn-lg" href="{{ path('reco_edit', {'id': reco.getId()}) }}"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger btn-circle btn-lg"   href="{{ path('reco_delete', {'id': reco.getId()}) }}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary btn-icon-split" href="{{ path('reco_new') }}">
    <span class="icon text-white-50">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
        <span class="text">Ajouter une recommandation</span>
    </a>
    <a href="{{ path('pdf1') }}" class="btn btn-light">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
        </svg>
        Expoter
    </a>
{% endblock %}
