
{% block body %}
    <h2 class="page-header">

        <center>   <img style="position: center" src="http://localhost/Crudv1/public/images/logo.JPG" alt="" width="200"></center>

        <small class="pull-right"></small>
    </h2>
    <h1 align="center">Liste des Recommandations</h1><hr>

    <table>
        <thead>
        <tr>
            <th class="wd-15p">Titre</th>

            <th class="wd-15p">Description</th>
            <th class="wd-15p">ecrivain </th>
            <th class="wd-15p">type</th>

            <th class="wd-20p">image</th>


        </tr>
        </thead>
        <tbody>


        {% for a in recommandations %}

            <tr >


                <td>{{a.titre}}</td>
                <td>{{a.description}}</td>
                <td>{{a.ecrivain}}</td>
                <td>{{a.type}}</td>
                <td>{{                a.type }}</td>
                <td>
                    <img src="http://localhost/Crudv1/public/images/{{a.image}}"
                         alt = "" style = "width: 80px ; height:80px">
                </td>

            </tr >
        {% endfor %}

        </tbody>
    </table>

    </div>

{% endblock %}
