{% extends 'baseFront.html.twig' %}

{% block row_container %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="col-md-12 mb-0">
        <a href="{{ path('afficherproduits_index') }}">Home</a> <span class="mx-2 mb-0">/</span>
        <strong class="text-black">Cart</strong>
    </div>
{% endblock %}

{% block container %}

    <div class="row mb-5">
        <form class="col-md-12" method="post">
            <div class="site-blocks-table">
                <table class="table table-bordered">
                    <thead>
                    <tr>

                        <th class="product-price">Prix</th>
                        <th class="product-quantity">Quantitee</th>
                        <th class="product-total">Total</th>
                        <th class="product-remove">Effacer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set totale = 0 %}
                    {% for commande in commandes %}

                        <tr>


                            <td>{{ commande.prixU }} DNT</td>
                            <td>
                                <div class="input-group mb-3" style="max-width: 120px;">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                    </div>
                                    <input type="text" class="form-control text-center" value="{{ commande.quantitee }}" placeholder=""
                                           aria-label="Example text with button addon" aria-describedby="button-addon1">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                    </div>
                                </div>

                            </td>
                            <td>{{ commande.prixU * commande.quantitee }} DNT</td>
                            {% set totale = totale + commande.prixU * commande.quantitee %}
                            <td><a href="{{ path('delete_commande', {'idCommande' : commande.idCommande}) }}" class="btn btn-primary height-auto btn-sm" onclick="return confirm('Voulez-vous vraiment retirer se produit de votre chariot ?');">X</a></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row mb-5">

                <div class="col-md-6">
                    <a href="{{ path('afficherproduits_index') }}" class="btn btn-outline-primary btn-md btn-block">Continue Shopping</a>
                </div>
            </div>

        </div>
        <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12 text-right border-bottom mb-5">
                            <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <span class="text-black">Subtotal</span>
                        </div>
                        <div class="col-md-6 text-right">
                            <strong class="text-black">{{ totale }} DNT</strong>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <span class="text-black">Total</span>
                        </div>
                        <div class="col-md-6 text-right">
                            <strong class="text-black">{{ totale }} DNT</strong>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-primary btn-lg btn-block" href="{{ path('checkout') }}">Paiement</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}