{% extends 'baseFront.html.twig' %}

{% block row_container %}

    <div class="col-md-12 mb-0"><a href="index.html.twig">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Store</strong></div>
{% endblock %}
{% block container %}

    <div class="row">
        {% for produit in produits %}
            <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
                <span class="onsale">Sale</span>
                <a href="{{ path('shop_single', {'idProduit' : produit.idProduit})}}"> <img src="{{ asset('Front/images/product_01.png') }}" alt="Image"></a>
                <h3 class="text-dark"><a href="{{ path('shop_single', {'idProduit' : produit.idProduit}) }}">{{ produit.nom }}</a></h3>
                <p class="price">{{ produit.prix }} DNT</p>
            </div>
        {% endfor %}
    </div>


    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <div class="site-block-27">
                <ul>
                    <li><a href="#">&lt;</a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

