{% extends 'baseFront.html.twig' %}

{% block row_container %}
    <div class="col-md-12 mb-0"><a href="index.html.twig">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Store</strong></div>
{% endblock %}
{% block container %}


    <div class="row">
        <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <span class="onsale">Sale</span>
            <a href="{{ path('shop_single') }}"> <img src="{{ asset('Front/images/product_01.png') }}" alt="Image"></a>
            <h3 class="text-dark"><a href="{{ path('shop_single') }}">Bioderma</a></h3>
            <p class="price"><del>95.00</del> &mdash; $55.00</p>
        </div>
        <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <a href="{{ path('shop_single') }}"> <img src="{{ asset('Front/images/product_02.png') }}" alt="Image"></a>
            <h3 class="text-dark"><a href="{{ path('shop_single') }}">Chanca Piedra</a></h3>
            <p class="price">$70.00</p>
        </div>
        <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <a href="{{ path('shop_single') }}"> <img src="{{ asset('Front/images/product_03.png') }}" alt="Image"></a>
            <h3 class="text-dark"><a href="{{ path('shop_single') }}">Umcka Cold Care</a></h3>
            <p class="price">$120.00</p>
        </div>

        <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">

            <a href="{{ path('shop_single') }}"> <img src="{{ asset('Front/images/product_04.png') }}" alt="Image"></a>
            <h3 class="text-dark"><a href="{{ path('shop_single') }}">Cetyl Pure</a></h3>
            <p class="price"><del>45.00</del> &mdash; $20.00</p>
        </div>
        <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <a href="{{ path('shop_single') }}"> <img src="{{ asset('Front/images/product_05.png') }}" alt="Image"></a>
            <h3 class="text-dark"><a href="{{ path('shop_single') }}">CLA Core</a></h3>
            <p class="price">$38.00</p>
        </div>
        <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <span class="onsale">Sale</span>
            <a href="{{ path('shop_single') }}"> <img src="{{ asset('Front/images/product_06.png') }}" alt="Image"></a>
            <h3 class="text-dark"><a href="{{ path('shop_single') }}">Poo Pourri</a></h3>
            <p class="price"><del>$89</del> &mdash; $38.00</p>
        </div>

        <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <span class="onsale">Sale</span>
            <a href="{{ path('shop_single') }}"> <img src="{{ asset('Front/images/product_01.png') }}" alt="Image"></a>
            <h3 class="text-dark"><a href="{{ path('shop_single') }}">Bioderma</a></h3>
            <p class="price"><del>95.00</del> &mdash; $55.00</p>
        </div>
        <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <a href="{{ path('shop_single') }}"> <img src="{{ asset('Front/images/product_02.png') }}" alt="Image"></a>
            <h3 class="text-dark"><a href="{{ path('shop_single') }}">Chanca Piedra</a></h3>
            <p class="price">$70.00</p>
        </div>
        <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <a href="{{ path('shop_single') }}"> <img src="{{ asset('Front/images/product_03.png') }}" alt="Image"></a>
            <h3 class="text-dark"><a href="{{ path('shop_single') }}">Umcka Cold Care</a></h3>
            <p class="price">$120.00</p>
        </div>

        <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">

            <a href="{{ path('shop_single') }}"> <img src="{{ asset('Front/images/product_04.png') }}" alt="Image"></a>
            <h3 class="text-dark"><a href="{{ path('shop_single') }}">Cetyl Pure</a></h3>
            <p class="price"><del>45.00</del> &mdash; $20.00</p>
        </div>
        <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <a href="{{ path('shop_single') }}"> <img src="{{ asset('Front/images/product_05.png') }}" alt="Image"></a>
            <h3 class="text-dark"><a href="{{ path('shop_single') }}">CLA Core</a></h3>
            <p class="price">$38.00</p>
        </div>
        <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <span class="onsale">Sale</span>
            <a href="{{ path('shop_single') }}"> <img src="{{ asset('Front/images/product_06.png') }}" alt="Image"></a>
            <h3 class="text-dark"><a href="{{ path('shop_single') }}">Poo Pourri</a></h3>
            <p class="price"><del>$89</del> &mdash; $38.00</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <div class="site-block-27">
                <ul>
                    <li><a href="#">&lt;</a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

