{% extends 'baseFront.html.twig' %}

{% block row_container %}
    <div class="col-md-12 mb-0"><a href="{{ path('afficherproduits_index') }}">Home</a> <span class="mx-2 mb-0">/</span> <a
                href="{{ path('afficherproduits_index') }}">Store</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Ibuprofen Tablets, 200mg</strong></div>

{% endblock %}

{% block container %}
    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}

    <div class="row">
        <div class="col-md-5 mr-auto">
            <div class="border text-center">
                <img src="{{ asset('Front/images/')~produit.getImage()}}" alt="Image" class="img-fluid p-5">
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="text-black">{{ produit.nom }}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, vitae, explicabo? Incidunt facere, natus
                soluta dolores iusto! Molestiae expedita veritatis nesciunt doloremque sint asperiores fuga voluptas,
                distinctio, aperiam, ratione dolore.</p>


            <p><strong class="text-primary h4">{{ produit.prix }} DNT</strong></p>


            <div class="mb-5">
                <div class="input-group mb-3" style="max-width: 220px;">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                    </div>
                    {{ form_widget(form.quantitee, {'attr':{'class':'form-control text-center'}}) }}

                    <div class="input-group-append">
                        <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                    </div>

                </div>

            </div>

            <p><button id="{{ form.Ajouter.vars.id }}" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Ajouter au panier</button></p>
            {% do form.Ajouter.setRendered %}
            {% do form.idPanier.setRendered %}
            {% do form.idProduit.setRendered %}
            {% do form.prixU.setRendered %}
            <div class="mt-5">
                <ul class="nav nav-pills mb-3 custom-pill" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                           aria-controls="pills-home" aria-selected="true">Ordering Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                           aria-controls="pills-profile" aria-selected="false">Specifications</a>
                    </li>

                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <table class="table custom-table">
                            <thead>
                            <th>Material</th>
                            <th>Description</th>
                            <th>Packaging</th>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">OTC022401</th>
                                <td>Pain Management: Acetaminophen PM Extra-Strength Caplets, 500 mg, 100/Bottle</td>
                                <td>1 BT</td>
                            </tr>
                            <tr>
                                <th scope="row">OTC022401</th>
                                <td>Pain Management: Acetaminophen PM Extra-Strength Caplets, 500 mg, 100/Bottle</td>
                                <td>144/CS</td>
                            </tr>
                            <tr>
                                <th scope="row">OTC022401</th>
                                <td>Pain Management: Acetaminophen PM Extra-Strength Caplets, 500 mg, 100/Bottle</td>
                                <td>1 EA</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                        <table class="table custom-table">

                            <tbody>
                            <tr>
                                <td>HPIS CODE</td>
                                <td class="bg-light">999_200_40_0</td>
                            </tr>
                            <tr>
                                <td>HEALTHCARE PROVIDERS ONLY</td>
                                <td class="bg-light">No</td>
                            </tr>
                            <tr>
                                <td>LATEX FREE</td>
                                <td class="bg-light">Yes, No</td>
                            </tr>
                            <tr>
                                <td>MEDICATION ROUTE</td>
                                <td class="bg-light">Topical</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>


        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block script %}

    <script src="{{ asset('Front/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('Front/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('Front/js/popper.min.js') }}"></script>
    <script src="{{ asset('Front/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('Front/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('Front/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('Front/js/aos.js') }}"></script>
    {# <script src="{{ asset('Front/js/main.js') }}"></script> #}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){
            $("#{{ form.quantitee.vars.id }}").val(1);

            $(".js-btn-minus").click(function(){

                if($("#{{ form.quantitee.vars.id }}").val() > 0){
                    $("#{{ form.quantitee.vars.id }}").val(parseInt($("#{{ form.quantitee.vars.id }}").val()) - 1);
                }
                else{
                    $("#{{ form.quantitee.vars.id }}").val(0);
                }


            });

            $(".js-btn-plus").click(function(){

                if($("#{{ form.quantitee.vars.id }}").val() < {{ produit.quantitee }}){
                    $("#{{ form.quantitee.vars.id }}").val(parseInt($("#{{ form.quantitee.vars.id }}").val()) + 1);
                }
                else{
                    $("#{{ form.quantitee.vars.id }}").val({{ produit.quantitee }});
                }

            });


        });


    </script>
{% endblock %}

