<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Pharmative &mdash; Colorlib Template{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheet %}

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('FrontShop/fonts/icomoon/style.css') }}">


    <link rel="stylesheet" href="{{ asset('FrontShop/fonts/flaticon/font/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontShop/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontShop/css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontShop/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontShop/css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ asset('FrontShop/css/aos.css') }}">

    <link rel="stylesheet" href="{{ asset('Front/css/style.css') }}">
    {% endblock %}
</head>

<body>
{% block body %}
<div class="site-wrap">


    <div class="site-navbar py-2">



        <div class="container">
            <div class="d-flex align-items-center justify-content-between">

                <div class="main-nav d-none d-lg-block">
                    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
                        <div class="container">
                            <a class="navbar-brand" href="{{ path('accueilfront_index')}}">Zenlife</a>
                            <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="oi oi-menu"></span> Menu
                            </button>

                            <div class="collapse navbar-collapse" id="ftco-nav">
                                <ul class="navbar-nav nav ml-auto">
                                    <li class="nav-item"><a href="{{ path('consultation_afficher') }}" class="nav-link"><span>Consulter un thérapeute</span></a></li>
                                    <li class="nav-item"><a href="{{ path('evenementFront_index')}}" class="nav-link"><span>Les événements</span></a></li>
                                    <li class="nav-item"><a href="{{ path('front')}}" class="nav-link"><span>Les recommandations</span></a></li>
                                    <li class="nav-item"><a href="{{ path('afficherproduits_index')}}" class="nav-link"><span>Les produits</span></a></li>
                                    {% if app.session.get('email')  !='' %}

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Mes réservations
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="{{ path('reservation_index') }}" style="font-size: 15px">Mes consultations</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{{ path('mesreservations_index')}}" style="font-size: 15px">Mes réservations en cours</a>
                                                <a class="dropdown-item" href="{{ path('mesreservationsEffectue_index')}}"style="font-size: 15px">Mes réservations effectués</a>

                                            </div>
                                        </li>
                                    {% endif %}


                                </ul>
                            </div>
                        </div>

                    </nav>
                </div>
                <div class="icons">

                    <a href="{{ path('cart') }}" class="icons-btn d-inline-block bag">
                        <span class="icon-shopping-bag"></span>

                    </a>
                    <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                                class="icon-menu"></span></a>
                </div>
            </div>
        </div>
    </div>


    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                {% block row_container %}

                {% endblock %}
            </div>
        </div>
    </div>

    <div class="py-5">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6 text-lg-right">

                </div>
            </div>

        </div>
    </div>
    <div class="site-section bg-light">
        <div class="container">
        {% block container %}

        {% endblock %}
        </div>
    </div>
    <footer class="site-footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">

                    <div class="block-7">
                        <h3 class="footer-heading mb-4">About <strong class="text-primary">Pharmative</strong></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae reiciendis distinctio voluptates
                            sed dolorum excepturi iure eaque, aut unde.</p>
                    </div>

                </div>
                <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                    <h3 class="footer-heading mb-4">Navigation</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Supplements</a></li>
                        <li><a href="#">Vitamins</a></li>
                        <li><a href="#">Diet &amp; Nutrition</a></li>
                        <li><a href="#">Tea &amp; Coffee</a></li>
                    </ul>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <h3 class="footer-heading mb-4">Contact Info</h3>
                        <ul class="list-unstyled">
                            <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                            <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                            <li class="email">emailaddress@domain.com</li>
                        </ul>
                    </div>


                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                        with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
                                                                                             class="text-primary">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </div>
    </footer>
</div>
{% endblock %}

{% block script %}
<script src="{{ asset('FrontShop/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('FrontShop/js/jquery-ui.js') }}"></script>
<script src="{{ asset('FrontShop/js/popper.min.js') }}"></script>
<script src="{{ asset('FrontShop/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('FrontShop/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('FrontShop/js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('FrontShop/js/aos.js') }}Front/js/aos.js"></script>

<script src="{{ asset('FrontShop/js/main.js') }}"></script>

{% endblock %}
</body>

</html>