{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}

                <div class="form-group">
                    {{ form_label(form.idPanier, "Panier ") }}
                    {{ form_errors(form.idPanier, {'attr':{'class':'alert alert-danger'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.idPanier, {'attr':{'class':'form-control col-sm-6'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.idProduit, "Produit ") }}
                    {{ form_errors(form.idProduit, {'attr':{'class':'alert alert-danger'}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.idProduit, {'attr':{'class':'form-control col-sm-6'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.quantitee, "Quantitée ") }}
                    {{ form_errors(form.quantitee) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.quantitee, {'attr':{'class':'form-control col-sm-6'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.prixU, "Prix ") }}
                    {{ form_errors(form.prixU) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.prixU, {'attr':{'class':'form-control col-sm-6'}}) }}
                </div>

            <div>
                <button class="btn btn-success">{{ button_label|default('Save') }}</button>
            </div>



{{ form_end(form) }}

