{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}


{% block css %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ asset("Front/Login/images/icons/favicon.ico") }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/vendor/bootstrap/css/bootstrap.min.css") }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Front/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css") }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/vendor/animate/animate.css") }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/vendor/css-hamburgers/hamburgers.min.css") }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/vendor/animsition/css/animsition.min.css") }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/vendor/select2/select2.min.css") }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/vendor/daterangepicker/daterangepicker.css") }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/css/util.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/css/main.css") }}">

{% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ asset("Front/Login/images/icons/favicon.ico") }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/vendor/bootstrap/css/bootstrap.min.css") }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Front/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css") }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/vendor/animate/animate.css") }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/vendor/css-hamburgers/hamburgers.min.css") }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/vendor/animsition/css/animsition.min.css") }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/vendor/select2/select2.min.css") }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/vendor/daterangepicker/daterangepicker.css") }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/css/util.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("Front/Login/css/main.css") }}">
</head>

    <body style="background-color: #666666;">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form validate-form">
                    {{ form_start(form) }}
					<span class="login100-form-title p-b-43">
						Login to continue
					</span>
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <label for="exampleInputEmail1">Adresse mail</label>

                    <div class="wrap-input100 validate-input" >

                        {{ form_widget(form.email, {'attr':{'class':'input100'}}) }}
                        {{ form_errors(form.email) }}


                    </div>

                    <label for="exampleInputPassword1">Mot de passe </label>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">

                        {{ form_widget(form.password, {'attr':{'class':'input100'}}) }}
                        {{ form_errors(form.password) }}



                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-32">
                        <div>
                            <a href="{{ path('user_oublier') }}" class="txt1">
                                Mot de passe oublie?
                            </a>
                        </div>

                        <div>
                            <a href="{{ path('user_new') }}" class="txt1">
                                Register?
                            </a>
                        </div>
                    </div>


                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>

                    </div>
                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
                    <div align="right" >
                        note du site

                        <i class="fa fa-star fa-1x" data-index="0"></i>
                        <i class="fa fa-star fa-1x" data-index="1"></i>
                        <i class="fa fa-star fa-1x" data-index="2"></i>
                        <i class="fa fa-star fa-1x" data-index="3"></i>
                        <i class="fa fa-star fa-1x" data-index="4"></i>
                        <br><br>

                    </div>
                    <div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or sign as guest using
						</span>
                    </div>

                    <div class="login100-form-social flex-c-m">
                        <a   class="login100-form-social-item flex-c-m bg1 m-r-5" href="{{ path('connect_facebook_start') }}">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>


                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>



                <div class="login100-more" style="background-image: url('{{ asset("Front/Login/images/bg-01.jpg") }}');">
                </div>
            </div>

        </div>

    </div>


    <a  data-id="{{ moy }}" id="moy"></a>
    <script src="http://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="{{ asset('Front/js/jquery.min.js') }}"></script>
    <script>

        $(document).ready(function () {


            var s=document.querySelector("#moy");
            var ratedIndex = s.dataset.id;
            console.log("aaa");
            if (ratedIndex != -1){
                setStars(ratedIndex);
            }

            function setStars(max) {
                for (var i=0; i <= max; i++)
                    $('.fa-star:eq('+i+')').css('color', 'yellow');
            }
        })

    </script>
    </body>
{% endblock %}
{% block js %}
    <script src="{{ asset("Front/Login/vendor/jquery/jquery-3.2.1.min.js") }}"></script>
    <!--===============================================================================================-->
    <script src="http://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

    <script src="{{ asset("Front/Login/vendor/animsition/js/animsition.min.js") }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset("Front/Login/vendor/bootstrap/js/popper.js") }}"></script>
    <script src="{{ asset("Front/Login/vendor/bootstrap/js/bootstrap.min.js") }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset("Front/Login/vendor/select2/select2.min.js") }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset("Front/Login/vendor/daterangepicker/moment.min.js") }}"></script>
    <script src="{{ asset("Front/Login/vendor/daterangepicker/daterangepicker.js") }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset("Front/Login/vendor/countdowntime/countdowntime.js") }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset("Front/Login/js/main.js/") }}"></script>



{% endblock %}
